*.class
.idea/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/GauchoGrubAzure/packages/
/GauchoGrubAzure/GauchoGrub/bin
/GauchoGrubAzure/GauchoGrub.Deployment/bin
/GauchoGrubAzure/GauchoGrub/obj
/GauchoGrubAzure/GauchoGrub/Properties/PublishProfiles
*.mdf
*.ldf
GauchoGrubAzure/GauchoGrub.v12.suo