*.class
.idea/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/GauchoGrubAzure/packages/
/GauchoGrubAzure/GauchoGrub/bin
/GauchoGrubAzure/GauchoGrub.Deployment/bin
/GauchoGrubAzure/GauchoGrub/obj
/GauchoGrubAzure/GauchoGrub/Properties/PublishProfiles
/GauchoGrubAzure/GauchoGrub.v12.suo
*.mdf
*.ldf
/GauchoGrubAzure/RatingDigest/bin
/GauchoGrubAzure/RatingDigest/obj
/GauchoGrubAzure/RatingDigest/Properties/PublishProfiles