<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gauchogrub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>gauchogrub.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gauchogrub</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gauchogrub</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GauchoGrubContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:t0b6j7x4s2.database.windows.net,1433;Initial Catalog=gaucho_grub_db;User ID=gaucho_grub_admin@t0b6j7x4s2;Password=G10_compsci" Name="Data Source=tcp:t0b6j7x4s2.database.windows.net,1433;Initial Catalog=gaucho_grub_db;User Id=gaucho_grub_admin@t0b6j7x4s2;Password=G10_compsci" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GauchoGrub.Models.GauchoGrubContext, GauchoGrub" MigrationConfiguration="GauchoGrub.Migrations.Configuration, GauchoGrub" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GauchoGrubContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t0b6j7x4s2.database.windows.net,1433;Initial Catalog=gaucho_grub_db;User Id=gaucho_grub_admin@t0b6j7x4s2;Password=G10_compsci</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>